<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Layout</title>
</head>
<body>
    <table align="center" width="80%" border="1" cellspacing="0" cellpadding="10">
        <!-- first Row -->
        <tr bgcolor="pink">
            <td colspan="2">
                <h1>Site Name</h1>
            </td>
        </tr>
        <!-- Second Row -->
        <tr bgcolor="orange">
            <td colspan="2">
                <a href="">Home</a> |
                <a href="">About Us</a> |
                <a href="">Gallery</a> |
                <a href="">FAQ</a> |
                <a href="">Contact Us</a> 
            </td>
        </tr>
        <!-- Third Row -->
        <tr>
            <td width="80%">
                <h2>Sub Heading</h2>
                <p>Sunt commodo excepteur enim labore elit do velit cupidatat commodo ex. Velit veniam consequat consequat reprehenderit reprehenderit esse minim. Fugiat exercitation culpa anim reprehenderit. Cillum deserunt ea exercitation cupidatat sit eu eiusmod minim ut commodo duis mollit fugiat. Dolor officia exercitation ipsum consequat officia do voluptate nisi cillum ea sint sint ullamco duis. Culpa mollit quis irure aliquip do.</p>
                <p>Veniam in proident voluptate sunt qui enim nulla duis veniam aliquip eu. Esse veniam anim magna ea elit nisi Lorem ad nostrud esse ullamco anim. Adipisicing nostrud magna incididunt labore voluptate ad deserunt in voluptate esse eu et consequat. Aliqua voluptate cupidatat laborum sit dolor adipisicing qui in. Lorem amet aliquip aute mollit fugiat aliqua officia sint ut elit do. Occaecat mollit ad nostrud duis. Incididunt mollit adipisicing aliquip quis minim adipisicing pariatur non duis id nulla labore adipisicing nostrud.</p>
            </td>
            <td valign="top">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Gallery</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </td>
        </tr>
        <!-- Fourth Row -->
        <tr bgcolor="pink">
            <td colspan="2">
                @copyright 2022.
            </td>
        </tr>
    </table>
</body>
</html>